* {
  
  font-family: 'Nunito', sans-serif;
  font-weight: bold;



}

body {
  background-color: #0000ff;
  margin: 0;
}
/*giving shape*/
.container {
  /*ponga todo el contenido en el centro*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*altura, porque sino se alinea arriba*/
  height: 100vh;
}
/*crear una grilla para colocar los botones*/
.calculator {
  display: grid;
  /*crearemos 4 columnas que se repetirarn hacia abajo 4 filas
    con tamano*/
  grid-template-columns: repeat(4, 80px);
  /*haremos un columna  para el display altoxancho*/
  grid-template-rows: 160px repeat(5, 80px);
  /* #FFFF00 */
  background-color: #ffff00;

  padding: 15px;
  border-radius: 35px;
  /*sombra para dar relieve hacia la derecha eje x, eje y (abajo), que tan grande es la zombra*/
  box-shadow: 15px 10px 0px 5px #000033;
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  background-color: #ffff00;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  /* sombra de vienen de 2 lados a la izq sombra y dcha luz*/
  box-shadow: 5px 5px 10px -3px #000033, -5px -5px 15px 3px #00ffc11f;


}
/*cada vez que el mouse se acerque a los numeros alumbra un poco*/
button:active{
    background-color: #00ffc11f;
}
 /*mejorando el display donde veremos los numeros*/
/*ancho de lado a lado*/
.display {
color:whitesmoke;
grid-column: 1/-1;
padding: 16px;
display: flex;
margin: 10px 10px 20px;
/*que se vea uno encima de otro*/
flex-direction: column;
/*todo a la derecha*/
align-items: flex-end;
background-color: #000010;
border-radius: 32px;
text-align: right;
justify-content: space-between;
word-break: break-all;
box-shadow: 0px 0px 0px 10px #000033 ;
}

/*botones anchos -span*/
.wide-button{
    grid-column: span 2;
}

/*cambiar estilo de los numeros del display*/
.previous-value{
    font-size: 1.5em;
}

.current-value{
    font-size: 2em;
}
